services:
    piped:
        image: 1337kavin/piped:latest
        restart: unless-stopped
        ports:
            - "127.0.0.1:8080:8080"
        volumes:
            - ./config.properties:/config.properties
        depends_on:
            - postgres
    postgres:
        image: postgres:16-alpine
        restart: unless-stopped
        volumes:
            - ./data/db:/var/lib/postgresql/data
        environment:
            - POSTGRES_DB=piped
            - POSTGRES_USER=piped
            - POSTGRES_PASSWORD=changeme
