<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Optional: Show SQL output for debugging -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.connection.handling_mode">DELAYED_ACQUISITION_AND_RELEASE_AFTER_STATEMENT</property>
        <property name="hibernate.jdbc.batch_size">50</property>
    </session-factory>
</hibernate-configuration>
