services:
    piped:
        image: 1337kavin/piped:latest
        restart: unless-stopped
        ports:
            - "127.0.0.1:8080:8080"
        volumes:
            - ./config.cockroachdb.properties:/app/config.properties
        depends_on:
            - cockroachdb
    cockroachdb:
        image: cockroachdb/cockroach:latest
        command: start-single-node --insecure
